<div class="wrapper">
	
	<div class="ui cards">
		<div ng-repeat="(postId, post) in posts" class="card">
			<!--div class="image">
				<img src="{{post.image}}" alt="{{post.title}}">
			</div-->
			<div class="content">
				<a class="header" ui-sref="posts({postId: post.$id})">{{post.title}}</a>
				<div class="meta">
					<span>submitted by <a ui-sref="users({ userId: post.creatorUID })">{{ post.creator }}</a></span>
				</div>
				<div class="description">
					<p>
						{{post.url | hostnameFromUrl}}
					</p>
					<p>
						{{post.tags}}
					</p>
					
				</div>
			</div>
			<div class="extra content">
				<a class="right floated" ng-click="deletePost(post)" ng-show="user.uid === post.creatorUID">
					<i class="trash icon"></i>Remove Post
				</a>
				<a ui-sref="posts({postId: post.$id})">
					<i class="comments icon"></i>
					Comments
				</a>
			</div>
		</div>
	</div>
	
</div>
